.quiz-container {
  max-width: 100%;
  font-family: arial, sans-serif;
  font-size: 1em;
}
.quiz-container a {
  color: #0096dd;
  text-decoration: none;
}
.quiz-container a:visited {
  color: #0096dd;
  text-decoration: none;
}
.quiz-container a:hover {
  color: #0096dd;
  text-decoration: underline;
}
.quiz-container .green {
  color: #81bc2e;
}
.quiz-container .red {
  color: #c1423d;
}
.quiz-container .list-unstyled {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
.quiz-container .alert {
  padding: 15px;
  border-radius: 3px;
}
.quiz-container .alert.alert-error {
  background-color: #f9ebeb;
  color: #c1423d;
}
.quiz-container .alert.alert-info {
  background-color: #c3ecff;
  color: #0096dd;
}
.quiz-container input[type='radio'] {
  box-shadow: none;
}
.quiz-container .text-muted {
  color: #a0a0a0;
}
.quiz-container .text-left {
  text-align: left;
}
.quiz-container .text-right {
  text-aling: right;
}
.quiz-container .text-center {
  text-align: center;
}
.quiz-container .scale-header {
  padding: 10px;
}
.quiz-container .scale-question-list {
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}
.quiz-container .scale-question-list:last-child {
  border-bottom: 0px none;
}
.quiz-container .sketchpad-container {
  overflow: hidden;
  width: 775px;
}
.quiz-container .sketchpad-container .sketchpad-paper {
  width: 450px;
  float: left;
}
.quiz-container .sketchpad-container .sketchpad-toolbar {
  float: right;
  width: 300px;
  max-height: 450px;
  padding: 5px;
  overflow-y: scroll;
  margin-left: 15px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool {
  margin-bottom: 15px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool:last-child {
  margin-bottom: 0px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .stroke-width-container {
  overflow: hidden;
  padding: 3px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .stroke-width-container .stroke-width-delimeter {
  border-radius: 3px;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .stroke-width-container .stroke-width-delimeter.chosen {
  border-color: #0096dd;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .stroke-width-container .stroke-width-thin {
  border: 1px solid #DCDCDC;
  padding: 6px 8px;
  margin-right: 5px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .stroke-width-container .stroke-width-normal {
  border: 3px solid #DCDCDC;
  padding: 4px 8px;
  margin-right: 5px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .stroke-width-container .stroke-width-thick {
  border: 6px solid #DCDCDC;
  padding: 1px 8px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .palette-container {
  overflow: hidden;
  padding: 2px;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .palette-container .palette-color {
  width: 20px;
  height: 20px;
  float: left;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;
}
.quiz-container .sketchpad-container .sketchpad-toolbar .sketchpad-tool .palette-container .palette-color.chosen {
  transform: scale(1.3);
}
.quiz-container .slider-table {
  width: 100%;
  max-width: 800px;
}
.quiz-container .slider-table .slider-question {
  vertical-align: top;
  width: 40%;
  font-weight: bold;
}
.quiz-container .slider-table .slider-slider {
  vertical-align: top;
  width: 60%;
}
.quiz-container .slider-table .slider-slider input[type='range'] {
  width: 100%;
}
.quiz-container .slider-table .slider-slider .slider-range {
  overflow: hidden;
}
.quiz-container .slider-table .slider-slider .slider-range .slider-range-min {
  float: left;
}
.quiz-container .slider-table .slider-slider .slider-range .slider-range-max {
  float: right;
}
.quiz-container .scale-reminder {
  overflow: hidden;
  margin-bottom: 20px;
}
.quiz-container .scale-grid {
  overflow: hidden;
}
.quiz-container .scale-grid .grid-item {
  float: left;
}
@media screen and (max-width: 800px) {
  .quiz-container .scale-grid .grid-item {
    width: 100% !important;
  }
}
.quiz-container.quiz-panel {
  box-shadow: 0px 0px 2px #e6e6e6;
  color: #646464;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background-color: #ffffff;
}
.quiz-container.quiz-panel .quiz-panel-heading {
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2f2f2));
  background: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  padding: 12px 15px;
  font-weight: bold;
  font-size: 1.2em;
  color: #646464;
  border-bottom: 1px solid #d9d9d9;
}
.quiz-container.quiz-panel .quiz-panel-heading:hover {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background: linear-gradient(to bottom, #ffffff, #f7f7f7);
}
.quiz-container.quiz-panel .quiz-panel-heading:active {
  background: #e8e8e8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dedede));
  background: -webkit-linear-gradient(top, #f2f2f2, #dedede);
  background: -moz-linear-gradient(top, #f2f2f2, #dedede);
  background: -o-linear-gradient(top, #f2f2f2, #dedede);
  background: linear-gradient(to bottom, #f2f2f2, #dedede);
}
.quiz-container.quiz-panel .quiz-panel-heading .toggle-quiz {
  cursor: pointer;
  background-color: transparent;
  border: 0px none;
  font-size: 1.2em;
  color: #a0a0a0;
}
.quiz-container.quiz-panel .quiz-panel-heading .quiz-dl {
  font-size: 0.7em;
  margin-top: -3px;
}
.quiz-container.quiz-panel .quiz-panel-user-info {
  border-top: 1px solid #d9d9d9;
  padding: 15px;
}
.quiz-container.quiz-panel .quiz-panel-body {
  padding: 15px;
}
.quiz-container.quiz-panel .peer-review-widget {
  overflow-y: scroll;
  max-height: 400px;
  margin-top: 15px;
  padding: 2px;
}
.quiz-container.quiz-panel .peer-review-widget .peer-review-widget-review {
  border: 1px solid #d9d9d9;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 2px #e6e6e6;
}
.quiz-container.quiz-panel .peer-review-widget .peer-review-widget-review:last-child {
  margin-bottom: 0px;
}
.quiz-container.quiz-panel .peer-review-widget .peer-review-widget-review .peer-review-widget-votes {
  margin-top: 15px;
}
.quiz-container.quiz-panel .label-block {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.quiz-container.quiz-panel .form-item {
  margin-bottom: 15px;
}
.quiz-container.quiz-panel .form-item > label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}
.quiz-container.quiz-panel .form-item:last-child {
  margin-bottom: 0px;
}
.quiz-container.quiz-panel .form-item .radio {
  margin-bottom: 5px;
}
.quiz-container.quiz-panel .form-item .radio input[type="radio"] {
  margin-right: 6px;
}
.quiz-container.quiz-panel .form-item .radio:last-child {
  margin-bottom: 0px;
}
.quiz-container.quiz-panel .form-item .checkbox {
  margin-bottom: 5px;
}
.quiz-container.quiz-panel .form-item .checkbox input[type="checkbox"] {
  margin-right: 6px;
}
.quiz-container.quiz-panel .form-item .checkbox:last-child {
  margin-bottom: 0px;
}
.quiz-container.quiz-panel .submit-quiz .btn-blue {
  font-size: 0.9em;
}
.quiz-container.quiz-panel .text-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 8px 10px;
  box-shadow: inset 0px 2px 2px #e6e6e6;
  border: 1px solid #cccccc;
  font-family: arial, sans-serif;
  font-size: 1em;
  color: #646464;
  width: 100%;
}
.quiz-container.quiz-panel .text-field:focus {
  box-shadow: inset 0px 2px 2px #d1d1d1;
  border: 1px solid #b8b8b8;
}
.quiz-container.quiz-panel .peer-review {
  overflow: hidden;
}
.quiz-container.quiz-panel .peer-review .peer-review-candidate {
  width: 50%;
  float: left;
}
.quiz-container .peer-review-container {
  margin-top: 10px;
  overflow: hidden;
}
.quiz-container .peer-review-container .peer-review-answer {
  width: 50%;
  float: left;
}
.quiz-container .peer-review-container .peer-review-answer:first-child .peer-review-answer-body {
  margin-left: 2px;
}
.quiz-container .peer-review-container .peer-review-answer:last-child .peer-review-answer-body {
  margin-left: 2px;
  margin-right: 2px;
}
.quiz-container .peer-review-container .peer-review-answer .peer-review-answer-body {
  cursor: pointer;
  padding: 20px;
  box-shadow: 0px 0px 2px #e6e6e6;
  color: #646464;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  margin: 15px 15px 2px 15px;
}
.quiz-container .peer-review-container .peer-review-answer .peer-review-answer-body .peer-review-user {
  margin-top: 0px;
  color: #b4b4b4;
}
.quiz-container .peer-review-container .peer-review-answer .peer-review-answer-body.selected {
  border-color: #0096dd;
  box-shadow: 0px 0px 2px #0096dd;
}
.quiz-container .btn-grey {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ebebeb));
  background: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background: -o-linear-gradient(top, #ffffff, #ebebeb);
  background: linear-gradient(to bottom, #ffffff, #ebebeb);
  color: white;
  padding: 6px 8px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px none;
  border-top: 1px solid #ffffff;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 1px #c4c4c4;
  font-size: 0.8em;
  text-shadow: none;
  color: #646464;
}
.quiz-container .btn-grey:hover {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff, #f7f7f7);
  background: -moz-linear-gradient(top, #ffffff, #f7f7f7);
  background: -o-linear-gradient(top, #ffffff, #f7f7f7);
  background: linear-gradient(to bottom, #ffffff, #f7f7f7);
  box-shadow: 0px 0px 1px 1px #d1d1d1;
  border-top: 1px solid #ffffff;
}
.quiz-container .btn-grey:active {
  background: #e8e8e8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#dedede));
  background: -webkit-linear-gradient(top, #f2f2f2, #dedede);
  background: -moz-linear-gradient(top, #f2f2f2, #dedede);
  background: -o-linear-gradient(top, #f2f2f2, #dedede);
  background: linear-gradient(to bottom, #f2f2f2, #dedede);
  box-shadow: 0px 0px 1px 1px #b8b8b8;
  border-top: 1px solid #ffffff;
}
.quiz-container .btn-grey:disabled {
  opacity: 0.6;
}
.quiz-container .btn-blue {
  background: #0088c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#0096dd), to(#007ab4));
  background: -webkit-linear-gradient(top, #0096dd, #007ab4);
  background: -moz-linear-gradient(top, #0096dd, #007ab4);
  background: -o-linear-gradient(top, #0096dd, #007ab4);
  background: linear-gradient(to bottom, #0096dd, #007ab4);
  color: white;
  padding: 6px 8px;
  font-weight: bold;
  text-transform: uppercase;
  border: 0px none;
  border-top: 1px solid #11b3ff;
  border-radius: 3px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 1px 1px #004668;
  font-size: 0.8em;
  color: #ffffff;
}
.quiz-container .btn-blue:hover {
  background: #0099e2;
  background: -webkit-gradient(linear, left top, left bottom, from(#00a7f7), to(#008cce));
  background: -webkit-linear-gradient(top, #00a7f7, #008cce);
  background: -moz-linear-gradient(top, #00a7f7, #008cce);
  background: -o-linear-gradient(top, #00a7f7, #008cce);
  background: linear-gradient(to bottom, #00a7f7, #008cce);
  box-shadow: 0px 0px 1px 1px #005881;
  border-top: 1px solid #2bbbff;
}
.quiz-container .btn-blue:active {
  background: #0077af;
  background: -webkit-gradient(linear, left top, left bottom, from(#0085c4), to(#00699b));
  background: -webkit-linear-gradient(top, #0085c4, #00699b);
  background: -moz-linear-gradient(top, #0085c4, #00699b);
  background: -o-linear-gradient(top, #0085c4, #00699b);
  background: linear-gradient(to bottom, #0085c4, #00699b);
  box-shadow: 0px 0px 1px 1px #00354e;
  border-top: 1px solid #00a7f7;
}
.quiz-container .btn-blue:disabled {
  opacity: 0.6;
}
.quiz-container .btn-sm {
  font-size: 0.7em;
  padding: 3px 5px;
}
