.DS_Store
/wk1/app2/nbproject/private/
/wk1/01.HelloWorld/nbproject/private/
/wk1/01-HelloWorld/nbproject/private/
/wk1/01_HelloWorld/nbproject/private/
/wk1/01_HelloWorld/nbproject/private
/wk1/01_AsciiArtist/nbproject/private/
/wk1/02_Kampuskuoro/nbproject/private/
/wk1/03_CSSAskeleet/nbproject/private/
/wk1/04_Suosikit/nbproject/private/
/wk1/05_MitaElainSanoo/nbproject/private/
/wk1/05_LaskimenJatkokehitys/nbproject/private/
/wk1/06_LaskimenJatkokehitys/nbproject/private/
/wk1/07_PerusMOOC/nbproject/private/
/wk1/08_DOMWalker/nbproject/private/
