body{
    background-color: rgb(233, 229, 217);
    font-size: 20px;
    font-family: Arial, sans-serif;
}

#main-container{
    max-width: 1200px;
    margin: 0px auto;
}

h1{
    color: rgb(73, 69, 69);
}

#navigation{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(73, 69, 69);
    border-radius: 10px;
    padding: 0px 40px;
    margin-bottom: 40px;
}

#navigation li{
    float: left;
}

#navigation li a{
    display: inline-block;
    padding: 15px 30px;
    font-size: 20px;
    color: rgb(233, 229, 217);
    text-decoration: none;
}

#navigation li a:hover{
    color: rgb(73, 69, 69);
    background-color: rgb(233, 229, 217);
}

#content-box{
 background-color: white;
 padding: 20px;
 border-radius: 10px;
 border: 1px solid black;
}

#content-box h2{
    color: rgb(66, 126, 120);
}