body{
    font-family: sans-serif;
}

#chat-container{
    display: table;
    width: 1000px;
    border-bottom: 1px solid rgb(220,220,220);
}

#chat-container h2, #add-message-container h2, #username-container h2{
    margin: 0px;
    padding: 15px 20px;
    background-color: rgb(220,220,220);
}

#username-container, #add-message-container{
    padding: 0px;
    width: 1000px;
}

.chat-message-added{
    margin-top: 10px;
    color: rgb(150,150,150);
}

.form-group{
    padding: 20px;
}

input[type="text"], textarea{
    border: 1px solid rgb(220,220,220);
    padding: 10px;
    width: 300px;
}

button{
    background-color: black;
    padding: 10px;
    color: white;
    border: 0px none;
}

#chat-messages-container{
    border-right: 1px solid rgb(220,220,220);
}

#chat-messages-container, #chat-users-container{
    display: table-cell;
    width: 50%;
    height: 400px;
    overflow-y: scroll;
}

#chat-messages-container ul li, #chat-users-container ul li{
    padding: 15px 20px;
    border-bottom: 1px solid rgb(220,220,220);
}

#chat-messages-container ul li:last-child, #chat-users-container ul li:last-child{
    padding: 15px 20px;
    border-bottom: 0px none;
}

#chat-messages-container ul, #chat-users-container ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}